.nom-pro-group {
    padding:1rem;
    background: var(--nom-color-fill-0);
    height: 100%;
}

.nom-pro-group .pro-group-main,.nom-pro-group .pro-group-main >ul ,.nom-pro-group .pro-group-main >ul>li{
    height: 100%;
}

.pro-group-main {
    overflow-x: auto !important;
}

.pro-group-main>ul {
    flex-wrap: nowrap !important;
    width:max-content;
}

.pro-group-box .pro-group-box-list {
    height: 100%;
    padding-right: .5rem;
    overflow-y: auto;
}
.nom-pro-group .pro-group-box-list > ul {
    /* padding-bottom: 0.5rem; */
    height:100%;
    align-content: flex-start;
}
.pro-group-box {
    width:260px;
    height: 100%;
    padding:.5rem;
}

.pro-group-box .pro-group-event-add {
    padding-right: .5rem;
    cursor: pointer;
}

.pro-group-box .pro-group-event-add >.pro-group-event-add-btn {
    text-align: center;
    font-size: 1.25rem;
    padding: .15rem;
    color:var(--nom-color-text-2);
    background: #fff;
    border-radius: 4px;
    box-shadow:0 0 2px -1px rgba(0, 0, 0, 0.5), 0 3px 12px -5px rgba(0, 0, 0, 0.15);

}

.pro-group-box .pro-group-event-add.hide {
    visibility: hidden;
}



.pro-group-box .pro-group-event-add >.pro-group-event-add-btn:hover {
    background: var(--nom-color-fill-3);
}

.pro-group-box>.nom-flex-item:nth-child(2) {
    max-height:  calc( 100% - 65px);
}

.pro-group-box.pro-group-inputing>.nom-flex-item:nth-child(2) {
    max-height:  calc( 100% - 130px);
}

.pro-group-box.pro-group-inputing .pro-group-event-add-btn {
    display: none;
}

.pro-group-box:not(.pro-group-inputing) .pro-group-event-add-input-panel {
    display: none;
}

.pro-group-box>.nom-flex-item.strech {
    height:  calc( 100% - 55px);
}

.nom-pro-group .pro-group-list-add {
    cursor: pointer;
    padding: .5rem;
}
.nom-pro-group .pro-group-list-add .nom-icon {
    color:var(--nom-color-text-2);
    margin-right: .25rem;
}

.nom-pro-group .pro-group-title {
    cursor: move;
}

.nom-pro-group .pro-group-title-count {
    color:var(--nom-color-text-2);
}



.pro-group-card {
    position: relative;
    padding:.75rem;
    background: #fff;
    border-radius: 4px;
    box-shadow:0 0 2px -1px rgba(0, 0, 0, 0.5), 0 3px 12px -5px rgba(0, 0, 0, 0.15);
    margin-bottom: .5rem;
}

.pro-group-card .pro-group-card-status-line {
    width:4px;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    background: transparent;
    border-radius: 4px 0 0 4px;
}

.pro-group-box .nom-list-item.s-disabled >.pro-group-card {
    opacity: .75;
    filter: grayscale(.75);
    color: var(--nom-color-text-2);
}

.pro-group-card  .pro-group-event-icon {
    color:var(--nom-color-text-3);
    margin-right: .25rem;
}

.pro-group-card .pro-group-event-tools {
    visibility: hidden;
}

.pro-group-card:hover .pro-group-event-tools {
    visibility: visible;
}


.pro-group-checkbox {
    margin-right: .25rem;
}

.pro-group-checkbox  .nom-field-content {
    padding: 0;
    line-height: 1rem;
}

.pro-group li {
    list-style: none;
}
