.pro-list-hover-style .nom-list-item-wrapper:hover {
    background: rgba(0, 0, 0, .025);
    transition: all .5s;
}

.pro-list-clickable .nom-list-item-wrapper {
    cursor: pointer;
}

.pro-list-item .pro-list-title {
    color: #222;
    font-weight: 500;
    margin-bottom: 2px;
}

.pro-list-item .pro-list-title a {
    color: #222;
}

.pro-list-item.pro-list-item-selected,
.pro-list-item.pro-list-item-selected .pro-list-title {
    color: #4263eb;
}


.pro-list-item .pro-list-desc {
    color: #888
}

.pro-list-item.pro-list-item-hover .pro-list-actions {
    visibility: hidden;
}

.pro-list-item.pro-list-item-hover:hover .pro-list-actions {
    visibility: visible;
}